<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kristianjones.snorlabs">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" /> <!-- Required for 29+. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnorLabs_a1">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".FeedbackActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".PermissionActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DynTimerActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AlarmActivity"
            android:parentActivityName=".DynTimerActivity"/>
        <activity android:name=".SleepActivity"
            android:parentActivityName=".AlarmActivity"/>
        <activity android:name=".CancelActivity"
            android:parentActivityName=".SleepActivity"/>
        <receiver android:name=".AlertReceiver" />
        <service android:name=".AlarmService"/>
        <service android:name=".CountdownService"/>
        <service android:name=".SleepTrackerService"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>